/* ================================================
リセットcss：HTML5 Doctor CSS Reset 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
================================================ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  font-family: bodoni-urw, serif;
  font-weight: 300;
  font-style: normal;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
  color: #000;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/* ================================================
PC版のheader 
================================================ */
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.header_left{
  display: flex;
  justify-content: space-between;
  width: 370px;
  font-size: 15px;
}

.header_middle{
  font-size: 36px;
  margin: 0 100px;
}

.header_right{
  display: flex;
  justify-content: space-between;
  width: 370px;
  font-size: 15px;
}

.header_left a:hover , .header_right a:hover{
  color: #bbaf79;
}

.header_sp{
  display: none;
}


/* ================================================
PC版のmain
================================================ */
.main_img{
  width: 100%;
}

.main_img img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_img_text{
  text-align: center;
  position: relative;
  top: -300px;
  left: -231px;
}


.main_img p{
  font-size: 24px;
  display: block;
  margin: 0 0 30px 0;
}

.main_img span{
  font-size: 18px;
  border-bottom: solid #000 0.1px;
  padding: 0 0 10px 0;
  width: 165px;
}

.main_img_dot{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px 0 0 0;
}

.article{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 0 30px 0;
}

.article_text{
  margin: 0 0 0 84px;
}

.article_text p{
  font-size: 20px;
}

.article_text h2{
  font-size: 64px;
  margin: 10px 0 0 0;
}

.article_text h3{
  font-size: 18px;
  margin: 10px 0 0 0;
}

.article_text a{
  display: block;
  font-size: 15px;
  text-decoration: underline;
  margin: 30px 0 0 0;
}

.article_text a:hover{
  color: #bbaf79;
}

/* ================================================
ここからスマホののCSS
================================================ */

@media only screen and (max-device-width: 767px) {

/* ================================================
スマホ版のheader 
================================================ */
.header{
  display: none;
}

.header_sp{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}


.header_left_sp{
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 32px;
  margin: 0 0 0 5px;
}

.header_right_sp{
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  flex-wrap: wrap;
  font-size: 10px;
  padding: 0px 0px;
  margin: 0 5px 0 0;
  height: 26px;
}

.header_right_sp a{
  padding: 0px 8px;
}


/* ================================================
スマホ版のmain
================================================ */
.main_img{
  width: 100%;
}

.main_img img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_img_text{
  text-align: center;
  position: relative;
  top: -70px;
  left: -37px;
}


.main_img p{
  font-size: 14px;
  display: block;
  margin: 0 0 3px 0;
}

.main_img span{
  font-size: 10px;
  border-bottom: solid #000 0.1px;
  padding: 0 0 1px 0;
  width: 165px;
}

.main_img_dot{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0px 0 0 0;
}

.article{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0 0 0;
}

.article img{
  width: 100%;
    box-sizing: border-box;
    padding: 0px 30px;
}

.article_text{
  margin: 30px 0 0 0px;
}

.article_text p{
  font-size: 20px;
}

.article_text h2{
  font-size: 45px;
  margin: 2px 0 0 0;
}

.article_text h3{
  font-size: 18px;
  margin: 2px 0 0 0;
}

.article_text a{
  display: block;
  font-size: 15px;
  text-decoration: underline;
  margin: 2px 0 0 0;
}

/* ================================================
スマホ版のfooder 
================================================ */

}